@model IEnumerable<SkateStore.Models.RatingListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RatingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AffordabilityRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurablityRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpeedRating)
        </th>
        <th>
            @Html.DisplayNameFor(model =>model.Comment)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RatingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AffordabilityRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurablityRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeedRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RatingId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RatingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RatingId })
            </td>
        </tr>
    }
</table>
}

